<div class="allusers-wrapper justify-center">
    <div class="space-y-3">
        <div class="text-center text-white">
            <p>
                Here's where you'll find your friends, be able to add them and
                start MovieMatching
            </p>
        </div>
        <section *ngIf="friends">
            <h3 class="text-center text-xl text-white">Your Friendlist</h3>
            <div class="px-3 py-3 flex justify-center">
                <div class="md:w-1/3 shadow rounded-lg overflow-hidden">
                    <table class="min-w-full">
                        <thead>
                            <tr>
                                <th
                                    class="px-5 py-3 border-b-2 border-gray-200 bg-secondary text-left font-semibold text-white">
                                    Name
                                </th>
                                <th
                                    class="px-5 py-3 border-b-2 border-gray-200 bg-secondary text-right font-semibold text-white">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody class="bg-white">
                            <tr *ngFor="let friend of friends" class="border-b">
                                <td class="px-5 py-5 border-gray-200  w-1/3">
                                    <div class="flex items-center">
                                        <div class="ml-3">
                                            <p>
                                                {{ friend.userData[0].name }}
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td class="py-5 px-1 border-gray-200  w-1/3 pr-4">
                                    <button routerLink="/swipe" type="submit"
                                        class="float-right clear bg-transparent hover:bg-yellow-500 text-yellow-700 font-semibold hover:text-white py-1 px-2 border border-yellow-500 hover:border-transparent rounded">
                                        Swipe
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <div *ngIf="friendRequests">
            <h3 class="text-center text-xl text-white">Pending Requests</h3>
            <div class="px-3 py-3 flex justify-center">
                <div class="md:w-1/3 shadow rounded-lg overflow-hidden">
                    <table class="min-w-full">
                        <thead>
                            <tr>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-secondary text-left font-semibold">
                                    From
                                </th>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-secondary text-right font-semibold">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody class="bg-white">
                            <tr *ngFor="let friendRequest of friendRequests" class="border-b">
                                <td class="px-5 py-5 border-gray-200  w-1/3">
                                    <div class="flex items-center">
                                        <div class="ml-3">
                                            <p>
                                                {{ friendRequest.name[0].name }}
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <div class="users-button-wrapper float-right pr-4">
                                    <td class="py-5 px-1 border-gray-200  w-1/3">
                                        <button (click)="
                                                handleAcceptRequest(
                                                    friendRequest.id
                                                )
                                            " type="submit"
                                            class="clear bg-transparent hover:bg-green-500 text-green-700 font-semibold hover:text-white py-1 px-2 border border-green-500 hover:border-transparent rounded">
                                            Yes
                                        </button>
                                    </td>
                                    <td class="py-5 px-1 border-gray-200 w-1/3">
                                        <button (click)="
                                                handleDeleteRequest(
                                                    friendRequest.id
                                                )" type="submit"
                                            class="clear bg-transparent hover:bg-red-500 text-red-700 font-semibold hover:text-white py-1 px-2 border border-red-500 hover:border-transparent rounded">
                                            No
                                        </button>
                                    </td>
                                </div>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <p class="text-center text-xl text-white">All Users</p>
            <div class="px-3 py-3 flex justify-center">
                <div class="md:w-1/3 shadow rounded-lg overflow-hidden">
                    <table class="min-w-full">
                        <thead>
                            <tr>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-secondary text-left font-semibold">
                                    Username
                                </th>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-secondary text-right font-semibold">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody class="bg-white">
                            <tr *ngFor="let user of users" class="border-b">
                                <td class="px-5 py-5 border-gray-200 w-1/3">
                                    <div class="flex items-center">
                                        <div class="ml-3">
                                            <p>{{ user.name }}</p>
                                        </div>
                                    </div>
                                </td>
                                <div class="users-button-wrapper float-right pr-4">
                                    <td class="py-5 px-1 border-gray-200 w-1/3">
                                        <button type="submit" (click)="handleAddFriend(user.id)"
                                            class="clear bg-transparent hover:bg-green-500 text-green-700 font-semibold hover:text-white py-1 px-3 border border-green-500 hover:border-transparent rounded">
                                            +
                                        </button>
                                    </td>
                                </div>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>