<div class="border-b border-secondary text-white">
    <header *ngIf="isSignedIn"
        class="container mx-auto px-4 flex flex-col md:flex-row items-center justify-between py-6">
        <div class="flex md:text-center">
            <nav>
                <ul *ngIf="isSignedIn" class="md:flex md:items-center text-center">
                    <li>
                        <div class="logo-holder-nav">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 178.1 59.2">
                                <defs>
                                    <style>
                                        .cls-1 {
                                            fill: #e4345e;
                                        }

                                        .cls-2 {
                                            isolation: isolate;
                                        }
                                    </style>
                                </defs>
                                <title>wordmark_pink</title>
                                <g id="Lager_2" data-name="Lager 2">
                                    <g id="Lager_1-2" data-name="Lager 1">
                                        <g id="Lager_1-2-2" data-name="Lager 1-2">
                                            <g id="clapper">
                                                <rect class="cls-1" x="128.4" y="12.7" width="28.6" height="15.88" />
                                                <rect class="cls-1" x="127.2" y="3.6" width="28.6" height="5.56"
                                                    transform="translate(3.1 36.4) rotate(-14.8)" />
                                            </g>
                                            <g class="cls-2">
                                                <path class="cls-1"
                                                    d="M30.6,33.6V59h-7V45L18.8,59H12.9L8.1,44.9V59H1V33.6H9.5l6.4,16.5,6.2-16.5Z" />
                                                <path class="cls-1"
                                                    d="M50.7,54.8h-9L40.3,59H32.9l9.3-25.4h8.1L59.5,59H52.1ZM49,49.4l-2.8-8.2-2.7,8.2Z" />
                                                <path class="cls-1" d="M81,33.6v5.6H74.2V59H67.1V39.2H60.4V33.6Z" />
                                                <path class="cls-1"
                                                    d="M84.3,39.6A10.9,10.9,0,0,1,88.7,35a13.5,13.5,0,0,1,6.7-1.6,12.2,12.2,0,0,1,7.9,2.5,11.3,11.3,0,0,1,4.2,6.9H99.9A4.6,4.6,0,0,0,98,40.6a5.1,5.1,0,0,0-2.8-.8,4.8,4.8,0,0,0-3.9,1.8,7.2,7.2,0,0,0-1.4,4.6,7.3,7.3,0,0,0,1.4,4.7,4.8,4.8,0,0,0,3.9,1.8,5.1,5.1,0,0,0,2.8-.8,4.6,4.6,0,0,0,1.9-2.2h7.6a11.3,11.3,0,0,1-4.2,6.9,12.3,12.3,0,0,1-7.9,2.6,13.6,13.6,0,0,1-6.7-1.7A11.2,11.2,0,0,1,84.3,53a13.7,13.7,0,0,1-1.6-6.8A12.9,12.9,0,0,1,84.3,39.6Z" />
                                                <path class="cls-1"
                                                    d="M133.6,33.6V59h-7.1V48.8h-8.6V59h-7V33.6h7v9.5h8.6V33.6Z" />
                                                <path class="cls-1"
                                                    d="M144.7,39.3v4.1h8.1v5.4h-8.1v4.5h9.2V59H137.6V33.6h16.3v5.7Z" />
                                                <path class="cls-1"
                                                    d="M170.2,59l-5-9.4h-.8V59h-7.1V33.6h11.2a12.1,12.1,0,0,1,5.2,1.1,8.2,8.2,0,0,1,3.2,2.9,8,8,0,0,1,1,4.1,7.2,7.2,0,0,1-1.4,4.6,7.8,7.8,0,0,1-4.1,2.8l5.7,9.9Zm-5.8-14.2h3.5a2.9,2.9,0,0,0,2.2-.7,2.8,2.8,0,0,0,.7-2,2.6,2.6,0,0,0-.8-1.9,2.8,2.8,0,0,0-2.1-.7h-3.5Z" />
                                            </g>
                                            <g class="cls-2">
                                                <path class="cls-1"
                                                    d="M29.6,3.6V29h-7V15L17.8,29H11.9L7.1,14.9V29H0V3.6H8.5l6.4,16.5L21.1,3.6Z" />
                                                <path class="cls-1"
                                                    d="M39.6,27.6a11.8,11.8,0,0,1-4.7-4.7,12.7,12.7,0,0,1-1.8-6.7,12.7,12.7,0,0,1,1.8-6.7,11.6,11.6,0,0,1,4.7-4.6,13.5,13.5,0,0,1,6.6-1.7,13.1,13.1,0,0,1,6.5,1.7,11.6,11.6,0,0,1,4.7,4.6,12.6,12.6,0,0,1,1.7,6.7,12.6,12.6,0,0,1-1.7,6.7,11.8,11.8,0,0,1-4.7,4.7,14.2,14.2,0,0,1-13.1,0Zm10.8-6.7A6.5,6.5,0,0,0,52,16.2a6.8,6.8,0,0,0-1.6-4.8,5.4,5.4,0,0,0-4.2-1.7,5.5,5.5,0,0,0-4.3,1.7,6.8,6.8,0,0,0-1.6,4.8,6.4,6.4,0,0,0,1.6,4.7,5.2,5.2,0,0,0,4.3,1.8A5.2,5.2,0,0,0,50.4,20.9Z" />
                                                <path class="cls-1"
                                                    d="M87.3,3.6,78.6,29h-9L60.8,3.6h7.5l5.8,18.3L79.8,3.6Z" />
                                                <path class="cls-1" d="M96.9,3.6V29h-7V3.6Z" />
                                                <path class="cls-1"
                                                    d="M108.3,9.3v4.1h8.1v5.4h-8.1v4.5h9.2V29H101.3V3.6h16.2V9.3Z" />
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </li>
                    <li class="md:ml-4">
                        <a class="block no-underline hover:underline py-2 hover:text-secondary md:border-none md:p-0"
                            routerLink="/swipe">
                            Swipe
                        </a>
                    </li>
                    <li class="md:ml-4">
                        <a class="block no-underline hover:underline py-2 hover:text-secondary md:border-none md:p-0"
                            routerLink="/matches">
                            Matches
                        </a>
                    </li>
                    <li class="md:ml-4">
                        <a class="block no-underline hover:underline py-2 hover:text-secondary md:border-none md:p-0"
                            routerLink="/users">
                            Users
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <button *ngIf="isSignedIn"
            class="float-right bg-transparent hover:bg-secondary text-secondary font-semibold hover:text-white py-1 px-2 border border-secondary hover:border-transparent rounded"
            (click)="signOut()">
            Log Out
        </button>
    </header>
</div>