<div class="matches-container text-center pt-3">
    <h2 class="text-xl">
        Friends
    </h2>
    <p>Choose a friend from the drop down list to see your matches</p>
    <form [formGroup]="matchedFriends" class="pt-3 pb-3">
        <select (change)="selectFriend()" formControlName="matchedFriend"
            class="w-52 justify-center bg-gray-300 text-black">
            <option *ngFor=" let friend of friends" [ngValue]="friend.userData[0].id">{{
                friend.userData[0].name }}
            </option>
        </select>
    </form>
    <div *ngIf="matchedMovies.length > 0; else elseBlock">
        <div class="grid grid-cols-5 grid-rows-1 gap-3">
            <ul *ngFor="let matchedMovie of matchedMovies" class="matches">
                <div class="matched-card bg-gray-300 rounded-lg flex flex-col justify-center text-center text-black">
                    <img src="{{ matchedMovie[0].img }}" alt="Movie poster" class="rounded-lg">
                    <ul>
                        <li>{{ matchedMovie[0].title }}
                        </li>
                        <!-- <li>{{ matchedMovie[0].genre }}</li> -->
                    </ul>
                </div>
            </ul>
        </div>
    </div>
    <ng-template #elseBlock>
        <div>
            No matches to show yet!
        </div>
    </ng-template>
</div>