<div class="matches-container text-center pt-3">
    <h2 class="text-xl">
        Friends
    </h2>
    <p>Choose a friend from the drop down list to see your matches</p>
    <form [formGroup]="matchedFriends">
        <select (change)="selectFriend()" formControlName="matchedFriend">
            <option *ngFor="let friend of friends" [ngValue]="friend.userData[0].id">{{ friend.userData[0].name }}
            </option>
        </select>
    </form>
    <div *ngIf="matchedMovies.length > 0; else elseBlock">
        <ul class="matches">
            <li class="matches-card">
                <p *ngFor="let matchedMovie of matchedMovies">{{ matchedMovie[0].title }}</p>
            </li>
        </ul>
    </div>
    <ng-template #elseBlock>
        <div>
            No matches to show yet!
        </div>
    </ng-template>
</div>