<div class="swipe-card"> 
    <div class="tphoto" [@cardAnimator]="animationState" (@cardAnimator.done)="resetAnimationState($event)" (swipeleft)='startAnimation("swipeleft")'  (swiperight)='startAnimation("swiperight")'>     
            <img src="https://image.tmdb.org/t/p/w342/{{ movies[index].img }}" alt="Poster for movie" class="center"/>
    </div>
        <div class="tname">{{movies[index].title}}, <span class="age">{{movies[index].genre}}</span></div>
        <div class="tinfo">{{ movies[index].rating }}</div>
        <div class="year">{{ movies[index].year }}</div> 
        <p class="mx-auto text-center w-3/5">{{ movies[index].description }}</p> 
    
</div>
