<footer class="border-t md:flex md:items-center md:justify-center p-4 pb-4 shadow-lg md:pb-4 text-center">

    <nav>
        <ul class="list-reset sm:flex sm:items-center sm:text-center">
            <li class="md:ml-4">
                <a class="block no-underline hover:underline py-2 text-grey-darkest hover:text-black md:border-none md:p-0"
                    routerLink="#">
                    Link 1
                </a>
            </li>
            <li class="md:ml-4">
                <a class="border-t block no-underline hover:underline py-2 text-grey-darkest hover:text-black md:border-none md:p-0"
                    routerLink="#">
                    Link 2
                </a>
            </li>
            <li class="md:ml-4">
                <a class="border-t block no-underline hover:underline py-2 text-grey-darkest hover:text-black md:border-none md:p-0"
                    routerLink="#">
                    Link 3
                </a>
            </li>
        </ul>
        <div class="footer-text-wrapper md:text-center">
            <p>&#169; MovieMatcher 2021</p>
        </div>
    </nav>

</footer>