<div *ngIf="friends">
    <form [formGroup]="friendList">
        <h1>Select a friend to swipe against</h1>
        <select (change)="onChange()" formControlName="friend" class="bg-gray-300">
            <option *ngFor="let friend of friends" [ngValue]="friend.userData[0].id">
                {{ friend.userData[0].name }}
            </option>
        </select>
    </form>
    <div *ngIf="movies" class="swipepage-wrapper space-y-3">
        <div class="tbg">
            <div class="tbgwrap">
                <div class="swipe-card">
                    <div class="tphoto" [@cardAnimator]="animationState"
                        (@cardAnimator.done)="resetAnimationState($event)" (swipeleft)="startAnimation('swipeleft')"
                        (swiperight)="startAnimation('swiperight')">
                        <img src="https://image.tmdb.org/t/p/w342/{{
                                    movies[index].img
                                }}" alt="Poster for movie" class="center" />
                    </div>
                    <div class="tname">
                        {{ movies[index].title }},
                        <span class="age">{{ movies[index].genre }}</span>
                    </div>
                    <div class="tinfo">{{ movies[index].rating }}</div>
                    <div class="year">{{ movies[index].year }}</div>
                    <p class="mx-auto text-center w-3/5">
                        {{ movies[index].description }}
                    </p>
                </div>
            </div>
        </div>
        <div class="tcontrols">
            <div (click)="
                        cardAnimation(
                            'swipeleft',
                            movies[index].id
                        )
                    " class="tno">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
            <div class="ti">
                <i class="fa fa-info" aria-hidden="true"></i>
            </div>
            <div (click)="
                        cardAnimation(
                            'swiperight',
                            movies[index].id
                        )
                    " class="tyes">
                <i class="fa fa-heart" aria-hidden="true"></i>
            </div>
        </div>
    </div>

</div>